* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

/*will-change*/
.content,
.hero,
.main-header,
.gallery__right,
.gallery__left {
  will-change: transform;
}

.main {
  background-image: url("../img/bg.jpg");
  background-size: 50px;
  color: #fafafa;
  font-family: raleway-c;
  overflow-x: hidden;
}

.hero {
  position: absolute;
  width: calc(var(--index) * 36);
  left: 37vw;
  top: 8vh;
  z-index: -1;
}

.container {
  padding: 0 7vw;
}

.main-title {
  font-family: outfit-c;
  position: absolute;
  font-size: calc(var(--index) * 8);
  line-height: 0.9;
  bottom: 10vh;
  width: min-content;
}

.main-header {
  height: 100vh;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery__right,
.gallery__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  max-height: 180vh;
  margin-bottom: var(--gallery-gap);
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item{
  margin: 0;
  margin-top: calc(var(--gallery-gap));
}

.text-block {
  position: relative;
  color: var(--color-text);
}

.text-block__title {
  font-family: outfit-c;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__description {
  line-height: 1.75;
}